@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --navbar-height: 4rem;
}

@font-face {
    font-family: "Roboto";
    src: url(/font/RobotoFlex.ttf);
}

body {
    @apply bg-zinc-950 text-white font-roboto;
}
